:root {
    --nav-bg: rgb(255, 255, 255); /* Color of Navbar */
    --navtextfarbe: black;
    --navfarbe2: #8c00ff; /* Color of Navbar-elements at hover */
    
    --farbe2: #8c00ff; /* Titles, Logos.. */
    --footerfarbe: black;
    
    --border: 2px solid var(--nav-bg);
    --brd-radius: 40px;

    --containerclr: rgb(187, 183, 183);

    --text: 'Poppins', sans-serif;
    --textfarbe: black;
    --hintergrundfarbe-fotos: black;
}

::selection {
    background: var(--farbe2); /* Color of the backround if text is "marked" */
    color: white;
}

html {
  scroll-behavior: smooth;
}

div {
    font-family: var(--text);
    color: var(--textfarbe);
}

p {
    color: rgb(255, 255, 255); 
    font-size: 30px !important; 
}

.p1 { /* Text in black section */
    color: var(--textfarbe);
    font-size: 20px;
    font-family: var(--text);
}

.cit { /* Quotation Text */
    color: rgb(255, 255, 255) !important;
    font-size: 60px !important;
    padding-bottom: 20px;
}

h1 { /* Titel over Texts */
    color: black !important;
    margin-bottom: 60 !important;
    font-size: 70px !important;
    text-align: center;
}

h2 { /* Little title in round section */
    color: var(--farbe2) !important;
    margin: 10 0 10 0 !important;
    font-size: 40px !important;
    text-align: left;
}

/* #button{
    color: var(--farbe2);
    background-color: transparent;
    border: none;
    margin: 10 0 10 0 !important;
    font-size: 40px !important;
    text-align: left;
} */

#hideText + #hideText2 {
    display: none;
}

.section { /* Is around every element */
    padding: 100 0 100 0;
}

.bigfoto { /* Bigfoto over on top of text, between ssections ecc.. */
    background-color: none; 
    padding: 400 0 400 0px; 
    background-image: url(https://images2.alphacoders.com/503/thumb-1920-503059.jpg); 
    background-size: cover; 
    background-position: center top;
}

/* Element with roundet border */
#container2 {
    border-bottom: 100;
    background-color:var(--containerclr);
    border-radius: var(--brd-radius);
    background-repeat: no-repeat;
}

/* tree little*/
#container3 {
    overflow: hidden; /* img on hover will not exeed border */
    padding: 0 !important;
    background-color: var(--containerclr);
    border-radius: var(--brd-radius);
    width: 100%;
}

.container4 {
    overflow:hidden; /* img on hover will not exeed border */
}

.foto-container3 {
    border-top-left-radius: var(--brd-radius) !important;
    border-top-right-radius: var(--brd-radius) !important;
    width: 100%;
    height: auto;
}

#containerFotoTeam{
    max-width: 50%;
    float: left;
}

#container3:hover .foto-container3 {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition-duration: 0.2s; /* For Zoom */
}

#container3:not(:hover) .foto-container3 {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
    transition-duration: 0.2s; /* For Zoom */
    opacity: 1;
}

.overlay {
    position: relative;
    margin-top: -600;
    width: 100%;
    height: 600;
    opacity: 0;
    transition-duration: 0.2s; /* For Zoom */
    background-color: grey;
}  

#container3:hover .overlay {
    opacity: 0.25;
}

.bgg {  /* Foto in bg at the top of the page */
    display:block;
    height: 100%;
    width: auto;
    filter: brightness(0.7);
    background-position: center top;
}

.image {
    width: 100%;
    height: auto;
    vertical-align: middle;
    text-align: center;
    border-radius: var(--brd-radius);
}

.imgTeam{
    width: 30vw;
}

.button {
    display: -webkit-flex; /* new line */
    padding: 6 30 6 30;
    margin: 15;
    border-radius: var(--brd-radius);
    border-style: none;
    color: var(--navtextfarbe);
    background-color: var(--farbe2);
}

.button:hover, .button:focus, .button:active {
    border-style: none;
    text-decoration: none;
    text-decoration-line: underline;
    outline: none; /* no black border around */
}

.form-label, .form-label-user, td, tr { /* text over input boxes */
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.form-label-user { /* text over input boxes */
    color: var(--farbe2);
}

.form-control { /* input boxes */
    border: 2px solid black !important;
    border-radius: 20px !important;
    margin-bottom: 30px !important;
}

/* FOOTER */
footer {
    background-color: var(--footerfarbe);
    padding: 30;
    text-align: center;
}

#footercolor {
    color: white;
}

.footertext {
    margin-right: 20;
    display: inline-block;
}

.footerlink {
    margin-right: 20;
}

.footerlinkfd:hover {  /* Link (mit Regenbogen lol) */
    background: linear-gradient(53.13deg,#FFD33D 0,#FB8532 16.02%,#EA4A5A 28.06%,#8A63D2 56.92%,#2188FF 72.93%,#34D058 84%,#FFD33D 100%);
    background-size: auto;
    background-clip: text;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i {  /* Damit der Burger Icon (für Mobile) in der vertikalen Mitte ist */
    color: var(--navtextfarbe);
    text-align: center;
    padding-top: 4;
}

.link, .link:hover, .link:focus, .link:active {
    color: var(--farbe2);
}

/* NAVBAR */

#myTopnav.nav {
    padding: 0 2% 0 2% !important;
    border-bottom-width: 3;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.nav {
    justify-content: center;
    position: fixed; /* wenn man nav nicht mehr fixed haben will, position emtfernen und in biglogo margin-top entfernen*/
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--nav-bg); /* das ist eine Variable siehe :root (oben)*/
    z-index: 500; /* Z-Achse (ist vor allem)*/
}

.nav a {
    font-family: var(--text);
    padding: 15 30px;
    color: var(--navtextfarbe);
    text-decoration: none;
    font-size: 18px;
}

.navbar-brand1 {
    font-size: 40px !important;
    position: absolute;
    fill: var(--navtextfarbe);
    right: 50%;
    transform: translate(50%, -20%); /* x and y*/
}

.navbar-brand1:hover, .navbar-brand1:focus, .navbar-brand1:active {
    fill: var(--navfarbe2) !important;
    color: var(--navfarbe2) !important;
}

a#navlang.navlang:hover, a#navlang.navlang:focus, a#navlang.navlang:active {
    color: var(--navfarbe2);
    text-decoration: underline;
}

.nav a:hover, .nav a:focus, .nav a:active {
    color: var(--navfarbe2) !important;
    /* background-color: var(--farbe2) !important; */
    background-color: none !important;
    text-decoration: none;
}

.nav a:focus .nav a:link {
    color: var(--navfarbe2);
    text-decoration: none;
    outline: 0;
}

/* RESP NAVBAR*/

.nav a:not(:first-child) {display: none;} /* icon and navlang do not display: none */
  .nav a.icon, .nav a.navlang {
      display: inline-block;
}

.nav.responsive {position: fixed;}
  .nav.responsive a.icon {
      float: left !important;
}

.nav.responsive a {
    display: block;
    text-align: left;
}

a#nav1.nav1 {
    padding-top: 64px !important;
}

.fa.fa-bars::after { /* Add menu txt to ham button */ 
	content: "Menu";
	padding-left: 10px;
    font-family: var(--text);
    font-size: 18px;
}

.fa.fa-bars:hover { /* Hover on Haburgerbutton and Menu txt */ 
    color: var(--navfarbe2) !important;  
}

/* IMPRESSUM UND PRIVACY */
.fat-h {
    font-weight: bold;
}


/*     MOBILE VERSION       MOBILE VERSION     MOBILE VERSION    MOBILE VERSION     MOBILE VERSION       MOBILE VERSION*/


@media (max-width: 800px) {
    .fa.fa-bars::after { /* there is no "menu" txt near burger btn when little screen */ 
        content: "";
    }
}

@media (max-width: 1025px) {

.container {
    padding: 0 10 0 10 !important;
}

#container3 {
    margin: 30 0% 30 0%;
}
     
.h2kontakt1 {
    text-align: center;
    display: inline-block;
}

}