.c {
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
}

#thirds {
    display: inline;
    float: left;
    padding: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}