<!DOCTYPE html>
<html lang="en">
    <head>
        <title>go outside</title>
    
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width"> <!-- Mobile responsive -->
            <!-- <meta name="description" content="Meta Text">
            <meta name="keywords" content="Keywords, Webseitenname, Inhabername uns"> -->
            <meta name="author" content="Felix Demetz, Lucas Glück">
            
            <link rel="stylesheet" type="text/css"   href="/css/style.css">
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootsrap Framework -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Menu Icon -->
    
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Icons -->
            
            <link rel="preconnect" href="https://fonts.gstatic.com"> 
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- Font -->
    </head>
<body>
    <div class="section">
        <div class="container">
            <h1>Wrong Username or Password</h1>
            <p>try again:</p>
            <button class="button">
                <a href="/login">Back</a>
            </button>
        </div>
    </div>
</body>

<footer>
    <div class="container">
        <text class="footertext" id="footercolor">© 2022 FreeCon</text>
        <text class="footertext" id="footercolor">Developed by <a class="footerlinkfd" id="footercolor" href="https://gitlab.inf.unibz.it/Felix.Demetz/wie_202122_5808">Lucas & Felix</a></text>
    </div>             
</footer>
</html> 