<html>
<html lang="en">

<head>
    <title>Create user</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"> <!-- Mobile responsive -->
        <!-- <meta name="description" content="Meta Text">
        <meta name="keywords" content="Keywords, Webseitenname, Inhabername uns"> -->
        <meta name="author" content="Felix Demetz, Lucas Glück">
        
        <link rel="stylesheet" type="text/css"   href="/css/style.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootsrap Framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Menu Icon -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Icons -->
        
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- Font -->
</head>

<body>
    <!-- Navbar -->
    <div>
        <div class="nav" id="myTopnav">
            <div>
                <a style="float: left !important" id="nav0" href="/">FreeCon</a>
            </div>
        </div>
    </div>

    <main>
        <div class="section" id="">
            <div class="container">
                <div id="singlePageSection">
                    <h2>Create new user</h2>
                    <form id="loginLabels" className="col 6" action="/login/createUser" method="POST">
                        <div>
                            <!-- <label class="form-label"for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name"/> -->

                            <label class="form-label"for="author">Surname author!</label>
                            <input type="text" class="form-control" id="author" name="author"/>

                            <label class="form-label"for="isbn">Username ISBN!</label>
                            <input type="text" class="form-control" id="isbn" name="isbn"/>

                            <label class="form-label"for="title">Password title!</label>
                            <input type="text" class="form-control" id="title" name="title"/>

                            <label class="form-label"for="description">Description !</label>
                            <input type="text" class="form-control" id="description" name="description"/>
                            <button class="button" type="submit">Create User</button>
                        </div>
                    </form>
                    <div class="col-6">
                        <button class="button" href="/login">
                            <a href="/login">Back</a>
                        </button>
                        <button class="button">
                            <a href="/index">See all users</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <main>
</body>

</html> 