<html lang="en">

    <head>
        <title>FreeCon</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"> <!-- Mobile responsive -->
        <!-- <meta name="description" content="Meta Text">
        <meta name="keywords" content="Keywords, Webseitenname, Inhabername uns"> -->
        <meta name="author" content="Felix Demetz, Lucas Glück">
        
        <link rel="stylesheet" type="text/css"   href="/css/style.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootsrap Framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Menu Icon -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Icons -->
        
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- Font -->
    </head>

    <body>
        <!-- Navbar -->
        <div>
            <div class="nav" id="myTopnav">
                <a id="nav2" href="#3">Post</a>
                <a id="nav2" href="#2">Feed</a>
                <a id="nav1" href="#1">{%isbn%}</a>
                <a id="nav3" href="/login">log out</a>
                <a style="float: left !important" id="nav0" href="/">FreeCon</a>
            </div>
        </div>

        <!-- Section profile -->
        <div class="section" id="1">
            <div class="container">
                <h2>Profile</h2>
                <p id="profileUsername"></p>
                <p>Name: {%title%}</p>
                <p>Autor: {%author%}</p>
                <p>Beschreibung:<br>{%description%}</p>
                <a href="/index">Back</a>
            </div>
        </div>

        <!-- Section write own post -->
        <div class="section" id="3">
            <div class="container">
                <h2>Post a message</h2>
                <form id="loginLabels" className="col 6" action="" method="POST">
                    <div>
                        <label class="form-label" for="description">Connect!</label>
                        <textarea style="width: 100% !important; height: 100px !important" type="text" class="form-control" id="description" name="description">*spread love*</textarea>
                        <div class="col-6">
                        <button class="button" type="submit">Post</button>
                    </div>
                </form>
                <a href="/index">Back</a>
            </div>
        </div>
        
        <!-- Section see all feeds -->
        <div class="section" id="2">
            <div class="container">
                <h2>Feeds</h2>
                <div class="container" id="container2">
                    <div class="col-sm-12 col-md-8 col-lg-8" style= "padding:3%;">
                        <div class="">
                            <h2 style="color:black !important">Post title</h2>
                            <p style="color:black !important">We don’t pretend to have all the answers. What we do have are goals to strive for, and a global community of businesses committed to doing the right thing by people and the planet.
                            </p>
                            <button class="button">
                                <a style="color:white !important; font-size: 20; display: -inline-flex !important;" class="link" href="/team">like</a>
                            </button>
                            <button class="button">
                                <a style="color:white !important; font-size: 20; display: -inline-flex !important;" class="link" href="/team">dislike</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container" id="container2">
                    <div class="col-sm-12 col-md-8 col-lg-8" style= "padding:3%;">
                        <div class="">
                            <h2 style="color:black !important">Post title</h2>
                            <p style="color:black !important">We don’t pretend to have all the answers. What we do have are goals to strive for, and a global community of businesses committed to doing the right thing by people and the planet.
                            </p>
                            <button class="button">
                                <a style="color:white !important; font-size: 20; display: -inline-flex !important;" class="link" href="/team">like</a>
                            </button>
                            <button class="button">
                                <a style="color:white !important; font-size: 20; display: -inline-flex !important;" class="link" href="/team">dislike</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
    </body>

    <!-- SCRIPTS -->
    
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script> /* Gets the username of the Profile for other tags */
        let username = document.getElementById("nav1").textContent;
        document.getElementById("profileUsername").innerHTML = "Username: " + username;
    </script>

    <script> /* In der Navbar wird zwischen "nav" und "nav responsive" gewechselt wenn der icon gedrückt wird */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "nav") {
                x.className += " responsive";
            } else {
                x.className = "nav";
            }
        }
    </script>

    <script> /* Shows text and hides it (under the foto of the Teammembers) */
        function myFunction2() {
            var x = document.getElementById("hideText");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction3() {
            var x = document.getElementById("hideText2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
        
</html>

</html> 