<html lang="en">

    <head>
        <title>FreeCon</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"> <!-- Mobile responsive -->
        <!-- <meta name="description" content="Meta Text">
        <meta name="keywords" content="Keywords, Webseitenname, Inhabername uns"> -->
        <meta name="author" content="Felix Demetz, Lucas Glück">
        
        <link rel="stylesheet" type="text/css"   href="/css/style.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootsrap Framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Menu Icon -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Icons -->
        
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- Font -->
    </head>

    <body>
        <!-- Navbar -->
        <div>
            <div class="nav" id="myTopnav">
                <a id="nav3" href="/login">log out</a>
                <a style="color:var(--farbe2)" href="/home/feed">Feed</a>
                <a id="nav2" href="javascript:history.back()">Home</a>
                <a style="float: left !important" id="nav0" href="/">FreeCon</a>
            </div>
        </div>
        
        <!-- Section see all feeds -->
        <div class="section" id="2">
            <h1>Feed</h1>
            {%feed%}
        </div>
                
    </body>

    <footer style="position:relative !important">
        <div class="container">
            <text class="footertext" id="footercolor">© 2022 FreeCon</text>
            <text class="footertext" id="footercolor">Developed by <a class="footerlinkfd" id="footercolor" href="https://gitlab.inf.unibz.it/Felix.Demetz/wie_202122_5808">Lucas & Felix</a></text>
        </div>             
    </footer>

    <!-- SCRIPTS -->
    
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function getUsername() {
        var linkInBtnForNewPost = document.getElementById('newPost');
        linkInBtnForNewPost.href = "/home/newPost?username=" + username;
        }
    </script>

    <script>
      // The function below will start the confirmation dialog
      function showAlert() {
        var linkInBtnToDeleteUser = document.getElementById('userToDelete');
        let confirmAction = confirm("Are you sure to delete your FreeCon account?");
        if (confirmAction) {
            linkInBtnToDeleteUser.href = "/home/delete?username=" + username;
        } else {
            showProfile();
        }
      }
    </script>

    <script> /* In der Navbar wird zwischen "nav" und "nav responsive" gewechselt wenn der icon gedrückt wird */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "nav") {
                x.className += " responsive";
            } else {
                x.className = "nav";
            }
        }
    </script>

    <script> /* Shows text and hides it (under the foto of the Teammembers) */
        var x1 = document.getElementById("1");
        var x2 = document.getElementById("2");
        var x3 = document.getElementById("3");
            
        function showProfile() {
            x1.style.display = "block";
            x2.style.display = "none";
            x3.style.display = "none";
        }

        function showFeed() {
            if (x2.style.display === "none") {
                x2.style.display = "block";
                x1.style.display = "none";
                x3.style.display = "none";
            }
        }

        function showPostingPane() {
            if (x3.style.display === "none") {
                x3.style.display = "block";
                x1.style.display = "none";
                x2.style.display = "none";
            }
        }
    </script>
        
</html>