<html>
<html lang="en">

<head>
    <title>Login</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"> <!-- Mobile responsive -->
        <!-- <meta name="description" content="Meta Text">
        <meta name="keywords" content="Keywords, Webseitenname, Inhabername uns"> -->
        <meta name="author" content="Felix Demetz, Lucas Glück">
        
        <link rel="stylesheet" type="text/css"   href="/css/style.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootsrap Framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Menu Icon -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Icons -->
        
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- Font -->
</head>

<body>
    <!-- Navbar -->
    <div>
        <div class="nav" id="myTopnav">
            <div>
                <a style="float: left !important" id="nav0" href="/">FreeCon</a>
            </div>
        </div>
    </div>

    <div class="section" id="">
        <div class="container">
            <div className="row" id="singlePageSection">
                <h2>Login</h2>
                <span class="form-label" >Logged in as: <span class="form-label-user" id="userSpan"></span></span>
                <form id="loginLabels" className="col 6">
                    <div class="mb-3 col-6">
                        <label class="form-label" htmlFor="bo">Username</label>
                        <input type="text" class="form-control" id="username" name="username"/>
                        <label class="form-label" htmlFor="bo">Password</label>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
                    <div class="col-6">
                        <button class="button">
                            <a style="color:white !important; font-size: 20;" class="link" href="/login/createUser">Login</a>
                        </button>
                        <button class="button">
                            <a style="color:white !important; font-size: 20;" class="link" href="/login/createUser">Create user</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <h1>All our Books</h1>
        <table>
					<thead><tr><th>ISBN</th><th>Title</th><th>Author</th></tr></thead>
					<tbody>
					{%table%}
					</tbody>
		</table>
    </div>
</body>

</html> 