<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a book</title>
</head>

<body> <!-- Form to insert new Book -->
    <main>
        <form action="/book/newBook" method="POST">
            <div class="form-control">
                <label class="form-label"for="author">Surname author!</label>
                                <input type="text" class="form-control" id="author" name="author"/>

                                <label class="form-label"for="isbn">Username ISBN!</label>
                                <input type="number" class="form-control" id="isbn" name="isbn"/>

                                <label class="form-label"for="title">Password title!</label>
                                <input type="text" class="form-control" id="title" name="title"/>

                                <label class="form-label"for="description">Description !</label>
                                <input type="text" class="form-control" id="description" name="description"/>
            </div>
            <button type="submit">Add Book</button>
        </form>
    </main>
</body>
</html>
</html> 